:root {
  --fs-main: 3rem;
  --fs-main-large: 6rem;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@-webkit-keyframes shine {
  0%,
  10% {
    background-position: -100px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 100px;
  }
}

/*@keyframes slidein {
    0%{ 
        transform: translate(100%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}*/
body {
  max-height: 100vh;
  max-height: 100vw;
  overflow: hidden;
  position: relative;
}

.tab {
  /*position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    opacity: 0;
    visibility: hidden;*/
  display: none;
  background-color: beige;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.tab .logo {
  max-height: 33vh;
}

.tab .checklist {
  font-size: var(--fs-main-large);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 340;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 340;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.tab .checklist .bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tab .checklist .bullet.animate:nth-child(1) .wrapper svg .checkmark {
  -webkit-animation: dash 1s ease-out 1s 1 forwards;
          animation: dash 1s ease-out 1s 1 forwards;
}

.tab .checklist .bullet.animate:nth-child(2) .wrapper svg .checkmark {
  -webkit-animation: dash 1s ease-out 2s 1 forwards;
          animation: dash 1s ease-out 2s 1 forwards;
}

.tab .checklist .bullet.animate:nth-child(3) .wrapper svg .checkmark {
  -webkit-animation: dash 1s ease-out 3s 1 forwards;
          animation: dash 1s ease-out 3s 1 forwards;
}

.tab .checklist .bullet.animate .wrapper svg .checkmark {
  display: block;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 360;
  opacity: 1;
}

.tab .checklist .bullet .wrapper {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 90px;
  width: 90px;
}

.tab .checklist .bullet .wrapper svg {
  width: 100%;
}

.tab .checklist .bullet .wrapper svg .checkmark {
  position: absolute;
  stroke: rgba(0, 199, 27, 0.746);
}

.tab:nth-child(1) .logo {
  max-height: 15vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tab:nth-child(1) .swipers {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.tab:nth-child(1) .swipers .swiper-container {
  max-width: 100vw;
}

.tab:nth-child(1) .swipers .swiper-container .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.tab:nth-child(1) .swipers .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab:nth-child(1) .swipers .swiper-container .swiper-wrapper .swiper-slide .img {
  background: radial-gradient(circle, white 0%, white 32%, #F5F5DC 84%);
  width: 250px;
}

.tab:nth-child(1) .checklist {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tab:nth-child(2) {
  background-color: black;
}

.tab:nth-child(2) .video {
  width: 100vw;
  height: 100vh;
}

.tab:nth-child(2) .video video {
  width: 100%;
  height: 100%;
}

.tab:nth-child(3) {
  background-color: black;
}

.tab:nth-child(3) .logo {
  max-height: 25vh;
}

.tab:nth-child(3) .swipers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-height: 33vh;
}

.tab:nth-child(3) .swipers .swiper-container {
  max-width: 100vw;
}

.tab:nth-child(3) .swipers .swiper-container .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.tab:nth-child(3) .swipers .swiper-container .swiper-wrapper .swiper-slide {
  font-size: var(--fs-main);
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab:nth-child(3) .swipers .swiper-container .swiper-wrapper .swiper-slide .product-name {
  display: inline;
  color: white;
}

.tab:nth-child(3) .swipers .swiper-container .swiper-wrapper .swiper-slide .product-image-wraper {
  position: relative;
  padding: 20px;
}

.tab:nth-child(3) .swipers .swiper-container .swiper-wrapper .swiper-slide .product-image-wraper .bg {
  background: radial-gradient(circle, white 0%, white 32%, black 65%);
}

.tab:nth-child(3) .swipers .swiper-container .swiper-wrapper .swiper-slide .product-image-wraper .product-image {
  width: 50px;
  height: 50px;
}

.tab:nth-child(3) .swipers #swiper2_1 {
  height: 200%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.tab:nth-child(3) .swipers #swiper2_3 {
  height: 200%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.tab:nth-child(3) .checklist {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  -webkit-background-size: 200px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0 0 #ffbf0085;
}
/*# sourceMappingURL=style.css.map */